# Case Study #1: Danny's Diner

![image](dannys_diner.png)

In [38]:
#import necessary tools
import sqlite3
#create database and cursor
conn = sqlite3.connect('diner2.db')
cur = conn.cursor()
db_file = 'diner2.db'

In [39]:
#dictionaries to create data tables
sales = [{'customer_id':'A','order_date':'2021-01-01','product_id':1},
         {'customer_id':'A','order_date':'2021-01-01','product_id':2},
         {'customer_id':'A','order_date':'2021-01-07','product_id':2},
         {'customer_id':'A','order_date':'2021-01-10','product_id':3},
         {'customer_id':'A','order_date':'2021-01-11','product_id':3},
         {'customer_id':'A','order_date':'2021-01-11','product_id':3},
         {'customer_id':'B','order_date':'2021-01-01','product_id':2},
         {'customer_id':'B','order_date':'2021-01-02','product_id':2},
         {'customer_id':'B','order_date':'2021-01-04','product_id':1},
         {'customer_id':'B','order_date':'2021-01-11','product_id':1},
         {'customer_id':'B','order_date':'2021-01-16','product_id':3},
         {'customer_id':'B','order_date':'2021-02-01','product_id':3},
         {'customer_id':'C','order_date':'2021-01-01','product_id':3},
         {'customer_id':'C','order_date':'2021-01-01','product_id':3},
         {'customer_id':'C','order_date':'2021-02-07','product_id':3}]

menu = [{'product_id': 1,'product_name':'sushi','price':10},
       {'product_id': 2,'product_name':'curry','price':15},
       {'product_id': 3,'product_name':'ramen','price':12}]

members = [{'customer_id':'A','join_date':'2021-01-07'},
          {'customer_id':'B','join_date':'2021-01-09'}]

In [40]:
#establish tables and data types
tables = {
    'sales': {
        'customer_id': 'TEXT KEY',
        'order_date': 'TEXT',
        'product_id': 'INTEGER',
        },
    'menu': {
        'product_id': 'TEXT KEY',
        'product_name': 'TEXT',
        'price': 'INTEGER',
        },
    'members': {
        'customer_id': 'TEXT KEY',
        'join_date': 'TEXT',
        }
}

#iterate through tables and add them to db
for table in tables.keys():
    fieldset = []
    for col, definition in tables[table].items():
        fieldset.append("'{0}' {1}".format(col, definition))

    if len(fieldset) > 0:
        query = "CREATE TABLE IF NOT EXISTS {0} ({1})".format(table, ", ".join(fieldset))

        cur.execute(query)

In [41]:
# add first value to menu table manually
# for i in range(0,len(menu)):    
cur.execute('''INSERT INTO menu (product_id, product_name, price) 
                  VALUES (1, 'sushi', 10);
            ''')

In [42]:
#loop through the rest
for i in range(1,len(menu)):
    cur.execute('''INSERT INTO menu (product_id, product_name, price)
                    VALUES ('{}','{}','{}')'''.format(menu[i]['product_id'],menu[i]['product_name'],menu[i]['price']))

In [43]:
#did it work?
cur.execute("""SELECT * FROM menu;""").fetchall()
#YES!/

[('1', 'sushi', 10), ('2', 'curry', 15), ('3', 'ramen', 12)]

In [44]:
for i in range(0,len(sales)):
    cur.execute('''INSERT INTO sales (customer_id, order_date, product_id)
                    VALUES ('{}','{}','{}')'''.format(sales[i]['customer_id'],sales[i]['order_date'],sales[i]['product_id']))

In [45]:
cur.execute('''SELECT * FROM sales;''''').fetchall()

[('A', '2021-01-01', 1),
 ('A', '2021-01-01', 2),
 ('A', '2021-01-07', 2),
 ('A', '2021-01-10', 3),
 ('A', '2021-01-11', 3),
 ('A', '2021-01-11', 3),
 ('B', '2021-01-01', 2),
 ('B', '2021-01-02', 2),
 ('B', '2021-01-04', 1),
 ('B', '2021-01-11', 1),
 ('B', '2021-01-16', 3),
 ('B', '2021-02-01', 3),
 ('C', '2021-01-01', 3),
 ('C', '2021-01-01', 3),
 ('C', '2021-02-07', 3)]

In [46]:
for i in range(0,len(members)):
    cur.execute('''INSERT INTO members (customer_id, join_date)
                    VALUES ('{}','{}')'''''.format(members[i]['customer_id'],members[i]['join_date']))

In [47]:
cur.execute('''SELECT * FROM members;''''').fetchall()

[('A', '2021-01-07'), ('B', '2021-01-09')]

### Database is Built, Time for the Questions!

**Each of the following case study questions can be answered using a single SQL statement:**

What is the total amount each customer spent at the restaurant?<br>
How many days has each customer visited the restaurant?<br>
What was the first item from the menu purchased by each customer?<br>
What is the most purchased item on the menu and how many times was it purchased by all customers?<br>
Which item was the most popular for each customer?<br>
Which item was purchased first by the customer after they became a member?<br>
Which item was purchased just before the customer became a member?<br>
What is the total items and amount spent for each member before they became a member?<br>
If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?<br>
In the first week after a customer joins the program (including their join date) they earn 2x points on all items, not just sushi - how many points do customer A and B have at the end of January?